.title {
  text-align: center;
  color: rgb(248, 248, 255);
  -webkit-text-stroke: 0.5px black;
}

.message_history {
  padding-left: 20%;
  padding-right: 20%;
  border-style: solid;
  border-color: grey;
  border-top-left-radius: 3.5vw;
  border-top-right-radius: 3.5vw;
  border-bottom-left-radius: 3.5vw;
  margin-left: 0.8%;
  margin-bottom: 1.5%;
  height: 45vw;
  width: 57.5vw;
  background: ghostwhite;
  overflow: scroll;
  overflow-x: hidden;
  /* overscroll-behavior-y: contain; */
}

.user_input {
  margin-left: 55.43%;
  margin-top: -1.5%;
  font-size: 1.25vw;
  border-style: solid;
  border-color: grey;
  border-bottom-left-radius: 3.5vw;
  border-bottom-right-radius: 3.5vw;
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 40vw;
  height: 4vw;
  outline: none;
}

.user_message {
  margin-left: 2.25%;
  margin-top: 2.5%;
  color: white;
}

.user_box {
  margin-top: -2%;
  margin-bottom: -2%;
  border-style: solid;
  border-color: #6e5c4a;
  border-radius: 3.5vw;
  padding: 15px;
  min-width: 100px;
  margin-right: -30%;
  margin-left: 60%;
  background-color: #a47449;
}

.bot_message {
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2.5%;
}

.bot_box {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border-style: solid;
  border-color: rgb(169, 169, 182);
  border-radius: 3.5vw;
  padding: 15px;
  min-width: 100px;
  margin-left: -30%;
  margin-right: 60%;
  scroll-snap-stop: always;
  background-color: #81d3ef;
}

.character_length {
  margin-left: 77%;
  margin-bottom: 0.25%;
}

body {
  background-color: #81d3ef;
}

/* later for chat pictures */

/* .bot_image {
    width: 12%;
    height: 12%;
}

.image_border {
    margin-right: -50%;
} */
